<!DOCTYPE html>
<html>
<head>
  <title>Gaming Website</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <h1>Welcome to the Gaming Website!</h1>
  <p><a href="/register">Register</a> | <a href="/login">Login</a></p>
  <script src="/js/scripts.js"></script>
</body>
</html>
